<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinForm_Controle_De_Estoque.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WinForm_Controle_De_Estoque.Properties.Settings.db_05790_1_C_2_2017ConnectionString"
            connectionString="Data Source=172.168.255.252;Initial Catalog=db_05790_1_C_2_2017;User ID=05790_1_C_2_2017;Password=Foreveralone123"
            providerName="System.Data.SqlClient" />
        <add name="WinForm_Controle_De_Estoque.Properties.Settings.BDVendasConnectionString"
            connectionString="Data Source=DESKTOP-94KVFQM;Initial Catalog=BDVendas;Persist Security Info=True;User ID=Thiago;Password=Foreveralone123"
            providerName="System.Data.SqlClient" />
        <add name="WinForm_Controle_De_Estoque.Properties.Settings.Thiago_s_DataBaseConnectionString"
            connectionString="Data Source=Thiago-PC\SERVER;Initial Catalog=&quot;Thiago's DataBase&quot;;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WinForm_Controle_De_Estoque.Properties.Settings>
            <setting name="NivelUsuarioLogado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NomeUsuarioLogado" serializeAs="String">
                <value />
            </setting>
        </WinForm_Controle_De_Estoque.Properties.Settings>
    </userSettings>
</configuration>